@font-face {
  font-family: 'AvenirNextCyr';
  src: url(../fonts/AvenirNextCyr-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'BebasNeue';
  src: url(../fonts/BebasNeueBold.ttf);
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'BrutalType';
  src: url(../fonts/BrytalType.ttf);
  font-style: bold;
  font-weight: 800;
}

@font-face {
  font-family: 'SerpentineSans';
  src: url(../fonts/SerpentineSansICGBold.ttf);
  font-style: bold;
  font-weight: 800;
}

.container {
  width: 1680px;
  margin: 0 auto;
}

html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

nav.nav {
  background-color: #4b0d5c;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav .logo {
  margin-right: 340px;
  width: 84px;
  height: 63px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-item {
  font-family: 'AvenirNextCyr', sans-serif;
  color: #fff;
  line-height: 9px;
  letter-spacing: 1.6px;
}

.hero {
  background-image: url(../img/hero-bg-1.png);
  background-repeat: no-repeat;
  background-position-y: 95px;
  z-index: -1;
  height: 1100px;
}

.sng {
  position: absolute;
  z-index: 2;
  max-height: 100vh;
  margin-left: 50px;
}

.slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  z-index: 5;
}

.slogan .subtittle {
  margin-top: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 250px;
}

.slogan h1 {
  font-size: 120px;
  font-family: 'BebasNeue', sans-serif;
  margin: 0;
}

.slogan p {
  font-size: 26px;
  font-family: 'BrutalType', sans-serif;
  font-style: bold;
  font-weight: 300;
  margin: 0;
}

.slogan * {
  color: #fff;
}

.facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 700px;
}

.graph-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  bottom: 290px;
}

.graph-wrap h1 {
  position: relative;
  margin: 0;
  top: 60px;
  color: #490d5b;
  font-size: 180px;
  font-family: 'SerpentineSans', sans-serif;
}

.graph-wrap span {
  color: #727272;
  font-size: 24px;
  font-family: 'AvenirNextCyr', sans-serif;
  letter-spacing: 2.4px;
  line-height: 48px;
}

.facts-wrap {
  width: 40%;
}

.facts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.facts-item__num {
  font-family: 'BrutalType', sans-serif;
  font-style: bold;
  font-weight: 300;
  font-size: 80px;
  letter-spacing: 8px;
  color: #808080;
}

.facts-item__desc {
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 3.73px;
  font-family: 'AvenirNextCyr', sans-serif;
  position: relative;
  bottom: 15px;
}

.logo-section {
  position: static;
}

.logo-section-img-wrap img {
  overflow: hidden;
  position: absolute;
  bottom: 22%;
  z-index: -1;
}

.logo-section-img-wrap {
  width: 1999px;
  height: 2660px;
  position: absolute;
  margin-left: -40px;
  z-index: -1;
}

.bg-text {
  opacity: 0.12;
  color: #fffefe;
  font-size: 401px;
  text-transform: uppercase;
  font-family: 'AvenirNextCyr', sans-serif;
  font-weight: 400;
  letter-spacing: 9px;
  position: relative;
  top: 90px;
}

.logo-section-text-wrap {
  z-index: 2;
  position: relative;
  bottom: 220px;
}

.logo-section-text-wrap h2 {
  text-align: end;
  color: #fffefe;
  font-family: 'BebasNeue', sans-serif;
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.logo-section-text-wrap p {
  text-align: end;
  color: #c9c9c9;
  font-family: 'AvenirNextCyr', sans-serif;
  font-size: 16px;
  letter-spacing: 1.6px;
}

.logo-section-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-section-desc img {
  margin-left: 85px;
  margin-top: 15px;
}

.logo-section-desc-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
}

.logo-section-desc-wrap p {
  margin: 12px;
  font-family: 'AvenirNextCyr', sans-serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 2.4px;
}

.tasks {
  margin-top: -500px;
  background-image: url(../img/task-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 2200px;
}

.tasks .container .bg-text {
  top: 850px;
  z-index: 0;
  font-size: 364px;
  font-weight: 400;
  letter-spacing: 9px;
  opacity: 0.07;
}

.task-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 25%;
  margin-top: 100px;
  margin-bottom: 400px;
  z-index: 5;
}

.task-item h2 {
  color: #ffffff;
  font-family: 'AvenirNextCyr', sans-serif;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 6px;
  margin-bottom: 50px;
}

.task-item p {
  font-family: 'AvenirNextCyr', sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2.4px;
}

.task-item img {
  margin-bottom: 40px;
}

.task-item__image {
  margin-top: 30px;
}

.auditory {
  margin-top: -500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auditory h1.brand {
  font-family: 'SerpentineSans', sans-serif;
  color: #4b0d5c;
  font-size: 180px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -9px;
}

.auditory-content {
  width: 50%;
}

.brand-wrap {
  width: 75%;
  margin-top: 150px;
  font-family: 'AvenirNextCyr', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.brand-wrap p {
  color: #000000;
  margin: 30px 0;
}

.diogram-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 80px;
  width: 70%;
  margin-left: 90px;
  margin-top: 150px;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.diogram-desc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
}

.diogram-desc__item span {
  font-family: 'AvenirNextCyr', sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 2.4px;
  color: #000000;
}

.diogram-desc__item .circle {
  border-radius: 50%;
  background-color: #20183b;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

.diogram-desc__item .circle-1 {
  background-color: #4b0d5c;
}

.diogram-desc__item .circle-2 {
  background-color: #b61386;
}

.diogram-desc__item .circle-3 {
  background-color: #6f6f6f;
}

.diogram-desc__item .circle-4 {
  background-color: #e8e8e8;
}

.diogram-desc__item .circle-5 {
  background-color: #bd8cc1;
}

.diogram-desc__item .circle-6 {
  background-color: #fa97c2;
}

.diogram-img-wrap {
  margin-top: 350px;
}

.diogram-img-wrap img {
  position: absolute;
  right: 50px;
}

.diogram {
  left: 35%;
  margin-top: -50px;
}
/*# sourceMappingURL=main.css.map */