@font-face {
  font-family: 'AvenirNextCyr';
  src: url(../fonts/AvenirNextCyr-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'BebasNeue';
  src: url(../fonts/BebasNeueBold.ttf);
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'BrutalType';
  src: url(../fonts/BrytalType.ttf);
  font-style: bold;
  font-weight: 800;
}

@font-face {
  font-family: 'SerpentineSans';
  src: url(../fonts/SerpentineSansICGBold.ttf);
  font-style: bold;
  font-weight: 800;
}

.container {
  width: 1680px;
  margin: 0 auto;
}

nav.nav {
  background-color: #4b0d5c;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav.nav .logo {
  margin-right: 340px;
  width: 84px;
  height: 63px;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-item {
  font-family: 'AvenirNextCyr', sans-serif;
  color: #fff;
  line-height: 9px;
  letter-spacing: 1.6px;
}

.hero {
  background-image: url(../img/hero-bg-1.png);
  background-repeat: no-repeat;
  background-position-y: 95px;
  z-index: -1;
  height: 1100px;
}

.sng {
  position: absolute;
  z-index: 2;
  max-height: 100vh;
  margin-left: 50px;
}

.slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  z-index: 5;
}

.slogan .subtittle {
  margin-top: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 250px;
}

.slogan h1 {
  font-size: 120px;
  font-family: 'BebasNeue', sans-serif;
  margin: 0;
}

.slogan p {
  font-size: 26px;
  font-family: 'BrutalType', sans-serif;
  font-style: bold;
  font-weight: 300;
  margin: 0;
}

.slogan * {
  color: #fff;
}

.facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.graph-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  bottom: 290px;
}

.graph-wrap h1 {
  position: relative;
  margin: 0;
  top: 60px;
  color: #490d5b;
  font-size: 180px;
  font-family: 'SerpentineSans', sans-serif;
}

.facts-wrap {
  width: 40%;
}

.facts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.facts-item__num {
  font-family: 'BrutalType', sans-serif;
  font-style: bold;
  font-weight: 300;
  font-size: 80px;
  letter-spacing: 8px;
  color: #808080;
}

.facts-item__desc {
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 3.73px;
  font-family: 'AvenirNextCyr', sans-serif;
  position: relative;
  bottom: 15px;
}
/*# sourceMappingURL=main.css.map */