nav.nav
    background-color: #4b0d5c
    height: 95px
    display: flex
    justify-content: space-between
    position: fixed
    width: 100%
    z-index: 999
    .logo
        margin-right: 340px
        width: 84px
        height: 63px
.navbar-nav
    display: flex
    justify-content: space-between
    align-items: center
.navbar
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center
.navbar-item
    +text
    +white
    line-height: 9px
    letter-spacing: 1.6px