.what-get
  background-image: url(../img/what-we-get.jpg)
  background-position-y: -300px
  position: relative
  background-repeat: no-repeat
  z-index: 55
  h2
    text-align: right
    +serp
    color: #4b0d5c
    font-size: 150px
    font-weight: 400
    text-transform: uppercase
    letter-spacing: -7.5px
  .bg-text
    opacity: 0.27
    text-align: right
    &.text-right
      font-size: 280px
      margin-left: -50px
.bg-text-sm
  font-size: 94px
.bg-text-md
  font-size: 175px
.bg-text-wrap
  padding-top: 400px
  display: flex
  margin-bottom: 400px
.get-wrap
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  span
    color: #797979
    +bebas
    letter-spacing: 10px
    font-size: 100px
  strong
    +bebas
    font-size: 36px
    font-weight: 700
    letter-spacing: 3.6px
  p
    +text
    font-size: 24px
    font-weight: 400
    letter-spacing: 2.4px

  .get-item
    display: flex
    flex-direction: column
    justify-content: center
  .col-6
    width: 47%
  .col-4
    width: 30%
.what-get-h-2
  margin-top: 200px
  margin-bottom: 100px
  +serp
  color: #4b0d5c
  text-transform: uppercase
  letter-spacing: 7px
  font-size: 70px